.top-ribbon {
    text-align: center;
    color: white;
    padding: 100px;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    background-image: url(images/20190424_200245.jpg);
    background-position: center;
    background-size: cover;
}
body {
    background-color: #222222;
}