.header {
    position: absolute;
    text-align: center;
    color: white;
    padding: 100px;
    left: 0px;
    right: 0px;
    top: 0px;
    background-image: url(images/20190424_200245.jpg);
    background-position: center;
    background-size: cover;
}
    #title {
        position: relative;
        border: medium solid white;
            border-top: 0px;
            border-bottom: 0px;
        font-family: 'Outfit', sans-serif;
        font-size: 72px;
        width: 500px;
        top: 50%;
        left: 50%; transform: translate(-50%);
    }
.blogpost {
    position: relative;
    left: 50%; transform: translate(-50%);
    background-color: beige;
    border-radius: 20px;
    width: 75%;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-bottom: 20px;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
}
    .blogpost-title {
        text-align: center;
        font-size: xx-large;
        margin-top: 0px;
        padding: 20px 10px 0px 10px;
    }
    .blogpost-date {
        text-align: center;
        font-size: larger;
        padding-bottom: 10px;
    }
    .preview-image {
        position: relative;
        width: 672px;
        height: 378px;
    }
    .blogpost-text {
        font-size: larger;
        padding: 10px 75px 0px 75px;
    }
    .blogpost-link {
        position: relative;
        display: inline-block;
        background-color: orange;
        border-radius: 10px;
        padding: 15px 32px;
        margin-top: 10px;
        text-align: center; text-decoration: none; color: white;
        font-size: larger;
        cursor: pointer;
    }
#divider-one {
    margin-top: 400px;
}
.dividers {
    width: 50%;
}
body {
    background-color: #222222;
}